*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoomer img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    /* margin: 100px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin:  0 100px;
    cursor: zoom-in;
}
#result{
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    position: fixed;
    transform: translate(-50%,-50%);
}

#mirror{
    /* margin:50px; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* background-image: url('./images/patrick-hendry-1ow9zrlldJU-unsplash.jpg'); */
    /* background-size:1000px 1000px; */
    position: fixed;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.hide{
    display: none;
}